<h1>School Class Show</h1>
<ul>
<li>Title: <%= @school_class.title %></li>
<li>Room Number: <%= @school_class.room_number %></li>
</ul>

<%= link_to "Edit this School Class", edit_school_class_path(@school_class) %>